@model Checkpoint4.Models.InstrumentsClient

@{
    ViewBag.Title = "Summary";
}

<h2>Order Summary</h2>

<div>
    <h4>Thank you for your purchase, <span>@Html.DisplayFor(model => model.client.CliFirstName)</span>!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.CliPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.CliPhone)
        </dd>

        <dt>
            Instrument Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instrument.InstDesc)
        </dd>

        <dt>
            Instrument ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instrument.InstID)
        </dd>

        <dt>
            Instrument Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instrument.InstType)
        </dd>

        <dt>
            Monthly Price
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.instrument.InstPrice)
        </dd>

        <dt>
            18 Month Total
        </dt>

        <dd>
            $@Html.Raw(ViewBag.Sum)
        </dd>

        <dt>
            Instrument Image
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.instrument.InstImg)" style="width: 100px"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
